.info
  color #909399

.mainhall-manage
  .tell
    >>>
      input
        text-align left

  .balance
    >>>
      .el-form-item__content
        width 200px

      label
        font-size 12px

  .tabs-wrapper
    >>>
      .el-input, .el-input-number
        width 300px !important

  .times .el-date-editor
    width 200px !important

  .tips
    >>>
      .el-radio__label
        color #606266

  .common-dialog
    .el-form-item
      .el-input, .el-input-number
        width 200px

      .el-date-editor
        width 300px