.filter
  display flex
  justify-content space-between

  .btn
    margin-left 20px

  .el-form-item
    padding-left 20px

  .el-input
    width 130px

  .el-select
    width 150px

  >>>
    .el-pagination
      padding 2px 0
      border none

.split
  display inline
  vertical-align top
  line-height 16px
  color rgba(0, 0, 0, 0.3)

>>>
  .el-tabs__nav-scroll
    display flex
    // justify-content center

.form-status
  padding 0 20px 0 20px

  .tip
    margin-bottom 18px

>>>
  .el-icon-question
    margin-left 4px
    font-size 14px

  .el-table th div
    line-height 23px
    vertical-align middle
