.filter
  display flex
  justify-content space-between

  .btn
    margin-left 20px

  .el-form-item
    padding-left 20px

  .el-input
    width 130px

  .el-select
    width 150px

  >>>
    .el-pagination
      padding 2px 0
      border none

.actice
  .img
    max-width 50px
    max-height 50px

  .el-select
    display block

  .el-input
    width 100%