div.recom
  .title
    span.addtitle 添加推荐游戏
    span.goout(@click='goout') 返回上一页
  .filter
    el-form(:model="form" :inline="true" size="small")
      el-form-item(label="游戏名称")
        el-input(v-model="form.game_name" placeholder="模糊查询")
      el-form-item(label="游戏类型")
        el-select(v-model="form.game_type" placeholder="请选择" @change='change')
          el-option(v-for="item in optionType" :key="item.value" :label="item.label" :value="item.value")
      el-form-item(label="游戏API")
        el-select(v-model="form.partner_id" placeholder="请选择")
          el-option(v-for="item in optionAPI" :key="item.value" :label="item.label" :value="item.value")
      el-form-item.btn
        el-button(type="primary" @click="onQueryClick") 查询
        el-button(@click="onResetClick") 重置

  .table
    .imgtable(v-if="tableData&&tableData.length>0")
      .imgList(v-for='item in tableData' :key='item.id' @click='add(item)')
        img(:src='item.img_url')
        i(class="fa fa-check-square-o fa-2x font" v-show='item.add' aria-hidden="true")
        span.name(:class="item.is_recommend==1 ? 'alreadyAdd':''") {{item.name}}
    el-pagination(@size-change="onPageSizeChange" @current-change="onCurrentChange" :current-page="page" :page-sizes="sizes" :page-size="size" layout="total, sizes, prev, pager, next, jumper" :total="total" background)
    el-form.addbtn
      el-form-item
        el-button(@click='goout') 取消
        el-button(@click="onAdd" type="primary") 添加推荐游戏
    
  el-dialog(title="编辑" width='400px' :visible.sync="isDialogVisible" :close-on-click-modal="false")
    el-form(:model="dialogform" labelWidth='80px' :rules="rules"  size="small" ref="dialogForm")
      el-form-item(label="游戏类型" prop='name')
        span(v-html='dialogform.name.join(",")')
      el-form-item(label="开始时间" prop='start_time')
          el-date-picker(v-model="dialogform.start_time"  type="datetime" placeholder="选择日期")
      el-form-item(label="结束时间" prop='end_time')
          el-date-picker(v-model="dialogform.end_time"  type="datetime" placeholder="选择日期")
      el-form-item(label="状态" prop='status')
        el-select(v-model="dialogform.status" placeholder="请选择")
          el-option(v-for="item in optionStatus" :key="item.value" :label="item.label" :value="item.value")
      el-form-item(label="备注" prop='remark')
        el-input( type="textarea" :rows="2" v-model="dialogform.remark")
    .dialog-footer(slot="footer")
      el-button(@click="isDialogVisible = false") 取 消
      el-button(type="primary" @click="onDialogSaveClick" :loading="isSaveLoading") 保 存