.recom
  .filter
    display flex
    justify-content space-between

    .btn
      margin-left 20px

    .el-form-item
      padding-left 20px

    .el-input
      width 130px

    .el-select
      width 150px

    .addbtn
      position absolute
      right 35px

    >>>
      .el-pagination
        padding 2px 0
        border none

  .zhu
    font-size 14px
    margin 5px

  .add
    display flex
    margin 60px 0
    justify-content space-around

    .recommend
      span
        font-size 16px
        margin-right 10px
        color #999

  .imgtable
    background #fff
    display flex
    justify-content flex-start
    flex-wrap wrap
    width 100%

    .font
      color green
      position absolute
      top 2px
      right 5px
      font-size 20px

    .imgList
      width 100px
      height 120px
      margin 20px
      overflow hidden
      position relative
      text-align center

      img
        width 84px
        height 84px
        border-radius 50%

      span
        margin 10px auto
        display block
        color red

      .name
        width 100px
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

      .alreadyAdd
        color #ccc

  .title
    margin 20px

  .goout
    cursor pointer
    color #409EFF
    margin-left 20px

  >>>
    .el-select
      display block

    .el-date-editor.el-input, .el-date-editor.el-input__inner
      width 100%

  .addbtn
    margin-top 20px
    text-align center

    >>>
      .el-button
        padding 20px 30px
        margin 0 20px
