.setNavigation
  .table
    .el-icon-rank
      font-size 20px
      position absolute
      right 10px
      top 50%
      margin-top -10px

  .tips
    font-size 14px
    color #303133
    padding-left 14px

.formBlock
  display block !important
  position relative

  .delete
    position absolute
    right 0
    top 0

.forminline
  padding-left 0 !important
  margin-right 0 !important
  margin-bottom 22px !important