*
  box-sizing border-box

.general-statement-container
  .filter
    display flex
    justify-content space-between

  .table
    .right
      text-align right

    .green
      color green

    .red
      color red
