el-tabs(v-model="activeName" type="border-card" @tab-click="handleClick")
	el-tab-pane(label="游戏api管理" name="gameAdmin" v-if="permission.gameAdmin" )
		gameAdmin(:activeName="activeName" :permissions="unauthorizedBtnDic.gameAdmin" v-if="activeName=='gameAdmin'")
	el-tab-pane(label="热门api设置" name="apiSetting" v-if="permission.apiSetting")
		apiSetting(:activeName="activeName" :permissions="unauthorizedBtnDic.apiSetting" v-if="activeName=='apiSetting'")
	el-tab-pane(label="推荐游戏" name="recomGames" v-if="permission.recomGames")
		recomGames(:activeName="activeName" :permissions="unauthorizedBtnDic.recomGames" v-if="activeName=='recomGames'")
	el-tab-pane(label="游戏标签分类" name="sumGamesLabel" v-if="permission.sumGamesLabel")
		sumGamesLabel(:activeName="activeName" :permissions="unauthorizedBtnDic.sumGamesLabel" v-if="activeName=='sumGamesLabel'")
	el-tab-pane(label="棋牌/电子游戏管理" name="cardEgame" v-if="permission.cardEgame")
		cardEgame(:activeName="activeName" :permissions="unauthorizedBtnDic.cardEgame" v-if="activeName=='cardEgame'")