.filter
  display flex
  justify-content space-between

  .btn
    margin-left 20px

  .el-form-item
    padding-left 20px

  .el-input
    width 130px

  .el-select
    width 150px

  >>>
    .el-pagination
      padding 2px 0
      border none

.zhu
  font-size 14px
  margin 5px
  color #606266

.add
  display flex
  margin 60px 0
  justify-content space-around

.cardEgame
  span
    font-size 16px
    margin-right 10px
    color #999

  .pcimg, .h5img
    max-width 50px
    max-height 50px

  .size
    font-size 14px
    color rgb(96, 98, 102)
    position absolute
    margin-left 30px

  .explains
    position absolute
    top 10px
    left -12px
    z-index 10

  >>>
    .el-select
      display block

    .el-date-editor.el-input, .el-date-editor.el-input__inner
      width 100%

>>>
  .img
    width 100%