.add-mianhall-step1-container
  el-form(:model="formData" :rules="formRules" ref="form" label-width="120px")
    el-row
      el-col(:span="12")
        el-form-item(prop="company_name" label="厅主名称:" required)
          el-input(v-model="formData.company_name" :disabled="disabled")
      el-col(:span="12")
        el-form-item(prop="admin_name" label="厅主登录账号:" required)
          el-input(v-model="formData.admin_name" :disabled="disabled")
      el-col(:span="12")
        el-form-item(prop="emergency" label="紧急联系方式:" required)
          el-select(v-model="formData.emergency" :disabled="disabled")
            el-option(v-for="contact,index in emergencyContacts" :key="index" :label="contact" :value="contact")
      el-col(:span="12")
        el-form-item(prop="emergency_code" label="紧急联系号码:" required)
          el-input(v-model="formData.emergency_code" :disabled="disabled")
      el-col(:span="12")
        el-form-item(prop="mobile" label="联系电话:")
          el-input(v-model="formData.mobile" :disabled="disabled")
      el-col(:span="12")
        el-form-item(prop="wechat" label="微  信:")
          el-input(v-model="formData.wechat" :disabled="disabled")
      el-col(:span="12")
        el-form-item(prop="skype" label="Skype:")
          el-input(v-model="formData.skype" :disabled="disabled")
      el-col(:span="12")
        el-form-item(prop="email" label="邮  箱:")
          el-input(v-model="formData.email" :disabled="disabled")
      el-col(:span="24")
        el-form-item(prop="remark" label="备注:")
          el-input(v-model="formData.remark" type="textarea" :rows="2" :disabled="disabled")
      el-col(:span="24" v-if="!disabled")
        el-form-item.red(label="温馨提示:") 厅主登录账号主要用于给厅主登录厅主后台，该账号对应权限为超级管理员权限，可以通过该账号建立子账号