.filter
  display flex
  justify-content space-between

  .autocomplete
    >>>
      .el-input
        width 160px

  .btn
    margin-left 20px

  .add
    margin-right 20px

  .el-form-item
    padding-left 20px

  .el-input
    width 130px

  .el-select
    width 140px

  >>>
    .el-pagination
      padding 2px 0
      border none

.table
  .el-radio+.el-radio
    margin-left 0

  .el-radio
    margin-right 30px

.setting
  padding-top 10px

  &:first-child
    padding-top 0

  .el-input
    width 180px
    margin-right 10px

  .el-select
    width 170px
    margin-right 10px
