.four-checkbox
  .checkbox-group
    .checkbox-children
      margin-left 20px

      // display flex
      // flex-direction column
      .checkbox-inner
        display flex
        margin-left 20px

        .line
          width 1px
          height 15px
          background-color #dfdfdf
          float left
          margin-top 12px

      .float
        display inline-block