*
  box-sizing border-box

.add-mainhall-container
  padding 18px 20px
  margin 15px 15px 10px 15px
  background #fff
  border 1px solid #dfdfdf

  >>>
    .el-steps--simple
      .el-step__head.is-success
        color #409EFF
        border-color #409EFF

      .el-step__main
        .el-step__title.is-success
          color #409EFF

  .add-mainhall-step-container
    padding-top 20px
    width 1200px

    .step4
      .table
        .table-row
          display flex

          .table-row-left
            width 150px
            border-right 1px solid #dfdfdf
            border-bottom 1px solid #dfdfdf
            display flex
            justify-content center
            align-items center

          .table-row-right
            flex 1
            padding-right 20px
            border-bottom 1px solid #dfdfdf

            &.pdTop20
              padding-top 20px

    .add-mainhall-footer-btn-group
      text-align center

  .dialog-container
    .img-box
      text-align center
      margin-bottom 20px

    .congratulations
      font-size 18px
      text-align center
      margin-bottom 20px

    .info
      display flex
      line-height 24px

      .bor
        border solid 1px #dfdfdf
        padding 5px

      .info-label
        flex 1
        text-align right
        padding-right 10px

      .info-value
        flex 1
        padding-left 10px
        display flex
        flex-direction column

        .blue
          color #409EFF

        .green
          color #67c23a

        .red
          color #f56c6c
