.receipt-summary-container
  .receipt-summary-form-container
    margin 15px 15px 10px
    padding-top 18px
    padding-right 20px
    background #fff
    border 1px solid #dfdfdf

  .receipt-summary-table-container
    margin 0 15px 10px

    .red
      font-size 12px
      color red
      margin 10px 0px

    .hallinfo
      padding 10px 20px
      background #ffffff
      border 1px solid #dfdfdf
      border-bottom none

      span
        margin-right 40px
        font-size 14px
        color #333333

    .receipts-info-table
      font-size 12px
      color red

    .footer-total
      padding 15px 20px
      line-height 28px
      font-size 14px
      background #fff
      border-width 0 0 1px 1px
      border-color #dfdfdf
      border-style solid
      color #606266

    >>>
      .el-pagination
        border-left none

  .bottomRow
    background #ffffff
    overflow hidden

    .tip
      color red

    .bottomPagi
      border none

.mr12
  margin-right 12px !important