.filter
  display flex
  justify-content space-between

  .btn
    margin-left 20px

  .el-form-item
    padding-left 20px

  .el-input
    width 130px

  .el-select
    width 150px

  >>>
    .el-pagination
      padding 2px 0
      border none

.zhu
  font-size 14px
  margin 5px

.add
  display flex
  margin 60px 0
  justify-content space-around

  .recommend
    span
      font-size 16px
      margin-right 10px
      color #999