.login
  height 100vh
  width 100%
  background-image url('./img/bg.png')
  background-position top
  background-repeat no-repeat
  position relative
  margin-left auto
  margin-right auto

  .panel
    background-image url('./img/panel.png')
    width 542px
    height 367px
    position absolute
    right 50%
    margin-right -700px
    margin-top 270px

    .title
      font-size 26px
      color #5b4e86
      text-align center
      margin-top 70px
      font-weight bold

    .content
      margin-top 30px
      margin-left 90px
      margin-right 90px

      .checkbox
        float left
        margin 0

      .btn-login
        float right
        width 130px
        height 42px
        font-size 16px

      .el-form-item
        margin-top 25px
        margin-bottom 0px
