*
  box-sizing border-box

.api-statement-container
  .filter
    display flex
    justify-content space-between

    .checkbox-group
      display flex

      >.el-checkbox
        margin-left 0

  .table
    .right
      text-align right

    .green
      color green

    .red
      color red