.table
  .el-radio+.el-radio
    margin-left 0

  .el-radio
    margin-right 30px

.setting
  padding-top 10px

  &:first-child
    padding-top 0

  .el-input
    width 180px
    margin-right 10px

  .el-select
    width 170px
    margin-right 10px

.table-common
  .small-btn
    padding 5px !important
